langchain-google-genai
langchain-groq
python-dotenv
langchain-tavily
tavily-python
langchain-chroma
langchain-voyageai
langchain-text-splitters
langchain-community
langgraph
chromadb
pypdf
rank-bm25
cohere
supabase